@font-face {
    font-family: Roboto-Bold;
    src: url("./+libs/Roboto-Bold.ttf");
}

/* Define accent and background color: */
*{
    primary-color: #FF5A5F;
    primary-background-color: #2A2E37;
}

/* Styling for the main window */
.rootPane {
    -fx-background-color: #2A2E37;
    -fx-font-family: Roboto-Bold;
    -fx-text-fill: #fff;
}

/* Styling for the price labels displaying info from the slider: */
.priceSelection {
    -fx-font-family: Roboto-Bold;
    -fx-padding: 20 20 10 20;
}

.pricePrefix {
    -fx-font-family: Roboto-Bold;
    -fx-padding: 0 0 15 0;
    -fx-font-size: 10pt;
    -fx-text-fill: #CCC;
}

.priceNumber {
    -fx-font-family: Roboto-Bold;
    -fx-font-weight: bold;
    -fx-padding: 0 0 15 0;
    -fx-font-size: 12pt;
    -fx-text-fill: #CCC;
}

/* Styling for the price range double slider: */
.priceSlider .range-bar {
    -fx-background-color: primary-color;
}

.priceSlider .track{
    -fx-background-color: #ccc;
    -fx-text-fill: #ccc;
}

.priceSlider .axis{
    -fx-tick-label-fill: #ccc;
}

.priceSlider .low-thumb, .high-thumb {
    -fx-effect: none;
    -fx-background-color: #ccc;
    -fx-border-size: 2;
    -fx-border-color: #2A2E37;
    -fx-border-radius: 10px;
}

.priceSlider .low-thumb:hover, .high-thumb:hover {
    -fx-cursor: hand;
    -fx-effect: none;
    -fx-background-color: #ccc;
}

/* Styling for the back and forward buttons: */
.mainWinButtons {
    -fx-background-radius: 60px;
    -fx-font-size: 20pt;
    -fx-font-family: 'Consolas', monospace;
    -fx-text-align: center;
    -fx-border: none;
    -fx-background-color: primary-color;
    -fx-text-fill: #fff;    
}

.mainWinButtons:hover {
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, #fff, 3, 0, 0, 0);
}

/* Styling for the footer label: */
.footerLabel {
    -fx-font-family: Roboto-Bold;
    -fx-padding: 0 0 8 8;
    -fx-text-fill: #ccc;
}

/* Styling for the big header welcome label: */
.welcomeLabel1 {
    -fx-font-family: Roboto-Bold;
    -fx-font-weight: bold;
    -fx-font-size: 26pt;
    -fx-padding: 0 0 20 0;
    -fx-text-alignment: center;
    -fx-text-fill: #CCC;
}

/* Styling for the small welcome label: */
.welcomeLabel2 {
    -fx-font-family: Roboto-Bold;
    -fx-font-size: 16;
    -fx-text-fill: #CCC;
    -fx-padding: 20 0 0 0;
}

/* Styling for the buttons in the boroughs pane: */
.boroughButton {
    -fx-font-family: Roboto-Bold;
    /* hexagon shape svg string: */
    -fx-shape: "M 240 300 L 340 240 L 440 300 L 440 400 L 340 460 L 240 400 L 240 300";
    -fx-text-fill: #fff;
}

.boroughButton:hover {
    -fx-cursor: hand;
    -fx-border: none;
    -fx-scale-x: 1.15;
    -fx-scale-y: 1.15;
    -fx-border-color: #fff;
}

/* Styling for the heat map legend: */
.heatMapLegend {
    /* gradient background */
    -fx-background-color: linear-gradient(from 25px 25px to 100px 100px, #ffb2b3, #ce4a4e); 
}

.smallLabelBoroughsPane {
    -fx-font-family: Roboto-Bold;
    -fx-text-fill: #b2b2b2;
    -fx-font-size: 12;
}

.bigLabelBoroughsPane {
    -fx-font-family: Roboto-Bold;
    -fx-font-weight: bold;
    -fx-text-fill: #ccc;
    -fx-font-size: 13;
    -fx-padding: 0 0 5 0;
}

/* Styling for the header of the favorites pane: */
.favoritesHeader {
    -fx-font-family: Roboto-Bold;
    -fx-font-weight: bold;
    -fx-text-fill: #ccc;
    -fx-font-size: 24;
    -fx-padding: 15 0 0 0;
}

.favoritesInfo {
    -fx-font-family: Roboto-Bold;
    -fx-text-fill: #ccc;
    -fx-font-size: 10pt;
    -fx-padding: 15 0 20 0;
}

.favoritesButton {
    -fx-font-family: Roboto-Bold;
    -fx-text-fill: #fff;
    -fx-font-size: 14;
    -fx-background-color: primary-color;
    -fx-pref-height: 40;
    -fx-pref-width: 100;
}

.favoritesButton:hover {
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, #fff, 3, 0, 0, 0);
}


.guideLabel {
    -fx-font-family: Roboto-Bold;
    -fx-text-fill: #ccc;
    -fx-font-size: 10pt;
}

/* Styling for the PropertyLister class: */
.moreBtn {
    -fx-pref-width: 150;
}

.headerLabelProperty {
    -fx-font-family: Roboto-Bold;
    -fx-padding: 8 22 8 22;
    -fx-font-size: 14;
    -fx-text-fill: #fff;
    -fx-background-radius: 30;
    -fx-background-color: #4a556b;
    -fx-effect: dropshadow(three-pass-box, #303030, 3, 0, 0, 0);
}

.propertyLabel {
    -fx-font-family: Roboto-Bold;
    -fx-padding: 0 0 10 10;
    -fx-font-size: 12;
}

.propertyWrapper {
    -fx-font-family: Roboto-Bold;
    -fx-background-color: #3e4554;
    -fx-background-radius: 50px;
    -fx-padding: 15 0 25 0;
}

/* Styling for the scroll pane (including scroll bar) */
.scroll-pane {
    -fx-background: primary-background-color;
    -fx-padding: 0px;
}

.scroll-bar:vertical > .track-background, .scroll-bar:horizontal > .track-background {
    -fx-background-color: #2A2E37;
    -fx-background-insets: 0.0;
}

.scroll-bar:vertical > .thumb, .scroll-bar:horizontal > .thumb {
    -fx-background-color: #BCBCBC;
    -fx-background-insets: 0.0;
    -fx-background-radius: 1.0;
    -fx-background-radius: 10;
}

.scroll-bar:vertical > .thumb:pressed, .scroll-bar:horizontal > .thumb:pressed {
    -fx-background-color: #666;
}

.scroll-bar:vertical > .thumb:hover, .scroll-bar:horizontal > .thumb:hover {
    -fx-cursor: hand;
}

.scroll-bar:vertical > .increment-button, .scroll-bar:vertical > .decrement-button {
    -fx-padding: 5 2 5 2;
}

.scroll-bar:horizontal > .increment-button, .scroll-bar:horizontal > .decrement-button {
    -fx-padding: 2 5 2 5;
}

.scroll-bar > .increment-button, .scroll-bar > .decrement-button, .scroll-bar:hover > .increment-button, .scroll-bar:hover > .decrement-button {
    -fx-background-color: transparent;
}

.scroll-bar > .increment-button > .increment-arrow, .scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: rgb(150.0, 150.0, 150.0);
}

.scroll-bar:vertical > .increment-button > .increment-arrow {
    -fx-shape: "M298 426h428l-214 214z";
}

.scroll-bar:vertical > .decrement-button > .decrement-arrow {
    -fx-shape: "M298 598l214-214 214 214h-428z";
}

.scroll-bar:horizontal > .increment-button > .increment-arrow {
    -fx-shape: "M0 428l0 -428l214 214l-214 214z";
}

.scroll-bar:horizontal > .decrement-button > .decrement-arrow {
    -fx-shape: "M214 0l0 428l-214 -214l214 -214z";
}

.scroll-pane {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .corner {
    -fx-background-insets: 0;
}
