@font-face {
    font-family: Roboto-Bold;
    src: url("./+libs/Roboto-Bold.ttf");
}

/* styling for root HBox */
.rootPane {
    -fx-background-color: #2A2E37;
    -fx-hgap: 5;
    -fx-vgap: 10;
    -fx-text-fill: white;
    -fx-padding: 10;
    -fx-font-family: Roboto-Bold;
}

.label {
    -fx-text-fill: inherit;
    -fx-font-family: Roboto-Bold;
}

/* styling the GridPane containing the name of the property and the details about it */
.informationGridPane {
    -fx-background-color: #3e4554;
    -fx-hgap: 5;
    -fx-vgap: 10;
    -fx-font-size: 10pt;
    -fx-font-weight: bold;
    -fx-padding: 0 0 10 0;
    -fx-text-alignment: center;
    -fx-text-fill: white;
    -fx-background-radius: 9;
    -fx-padding: 20;
    -fx-font-family: Roboto-Bold;
}

/* styling the GridPane containing details about the host */
.hostInformationGridPane {
    -fx-background-color: #3e4554;
    -fx-hgap: 5;
    -fx-vgap: 10;
    -fx-font-size: 10pt;
    -fx-font-weight: bold;
    -fx-padding: 0 0 10 0;
    -fx-text-alignment: center;
    -fx-text-fill: white;
    -fx-background-radius: 9;
    -fx-padding: 20;
    -fx-font-family: Roboto-Bold;
}

/* styling the GridPane containing details about the reviews */
.reviewGridPane {
    -fx-background-color: #3e4554;
    -fx-hgap: 5;
    -fx-vgap: 10;
    -fx-font-size: 10pt;
    -fx-font-weight: bold;
    -fx-padding: 0 0 10 0;
    -fx-text-alignment: center;
    -fx-text-fill: white;
    -fx-background-radius: 9;
    -fx-padding: 20;
    -fx-font-family: Roboto-Bold;
}

.favoriteButton {
     -fx-shape: "M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2
        c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z";
     -fx-background-color: #fff;
     -fx-opacity: 0.6;
     -fx-pref-width: 60;
     -fx-pref-height: 58;
}

/* makes the button more opaque when it is hovered */
.favoriteButton:hover {
    -fx-background-color: #FF5A5F;
    -fx-opacity: 1;
    -fx-cursor: hand;
}

/* makes the button more opaque when it is selected and gives it a small dropshadow */
.favoriteButton:selected {
    -fx-background-color: #FF5A5F;
    -fx-opacity: 1;
    -fx-effect: dropshadow(three-pass-box, #FF5A5F, 2, 0, 0, 0);
}

.mapButton {
    -fx-background-color: #FF5A5F;
    -fx-text-fill: #fff;
    -fx-font-family: Roboto-Bold;
    -fx-font-size: 14;
    -fx-padding: 10;  
}

.mapButton:hover{
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, #fff, 3, 0, 0, 0);
}
    
    
